<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}" lang="kor">


<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            // 총 가격 계산 함수 호출
            calculateToalPrice();
            // 수량 변경 시 총 가격 재계산
            $("#count").change( function(){
                calculateToalPrice();
            });
        });

        // 수량과 가격을 가져와 총 가격을 계산
        function calculateToalPrice(){
            const count = $("#count").val();
            const price = $("#price").val();
            const totalPrice = price*count;
            $("#totalPrice").html(totalPrice + '원');
        }

        // 주문 요청을 위한 AJAX 호출
        function order(){
            // 1 스프링 시큐리티 사용하면 post방식의 데이터 전송에는 CSFR 토큰값이 필요
            // const token = $("meta[name='_csrf']").attr("content");
            // 2 스프링 시큐리티 사용하면 post방식의 데이터 전송에는 CSFR 토큰값이 필요
            // const header = $("meta[name='_csrf_header']").attr("content");

            const url = "/order";
            const paramData = {  //3 주문할 상품의 아이디와 주문 수량 데이터를 전달할 객체를 생성
                itemId : $("#itemId").val(),  //상품의 아이디
                count : $("#count").val()    // 수량
            };
            // 4 서버에 보낼 주문 데이터를 json으로 변경
            const param = JSON.stringify(paramData);
            // 5 서버에 데이터를 보낼 형식을 json으로 지정
            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                // beforeSend : function(xhr){
                //     /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                //     xhr.setRequestHeader(header, token);
                // },
                dataType : "json",   // 6 서버에 결과값으로 받을 데이터의 타입을 json으로 설정
                cache   : false,
                success  : function(){
                    // 7 주문 로직 호출시 성공하면 주문이 완료되었습니다. 라는 메시지를 보여주고 메인 페이지로 이동
                    // 주문 성공 시 메시지 출력 후 메인 페이지로 이동
                    alert("주문이 완료 되었습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){
                    // 오류 처리
                    if(jqXHR.status === 200){
                        // 8 현재 로그인 상태가 아니라면 로그인 후 이용해 주세요  라는 메시지를 보여주고 로그인 페이지로 이동
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        // 9 주문시 에러가 발생하면 해당 메시지를 보여줌
                        // alert(jqXHR.responseText);
                        console.log(jqXHR.status, status, error);
                    }

                }
            });
        }

        // 장바구니 추가 요청을 위한 AJAX 호출
        function addCart(){
            // const token = $("meta[name='_csrf']").attr("content");
            // const header = $("meta[name='_csrf_header']").attr("content");

            const url = "/cart";
            const paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            const param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                // beforeSend : function(xhr){
                //     /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                //     xhr.setRequestHeader(header, token);
                // },
                dataType : "json",
                cache   : false,
                success  : function(){
                    // 장바구니 추가 성공 시 메시지 출력 후 메인 페이지로 이동
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR){
                    // 오류 처리
                    if(jqXHR.status === 200){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:400px;
        }
        .wd50{
            height:auto;
            width:50%;
        }
    </style>
</th:block>
<!-- 컨텐츠 영역 -->
<div layout:fragment="content" style="margin-left:25%;margin-right:25%">
    <!-- 아이템 ID를 숨김 필드로 저장 -->
    <input type="hidden" id="itemId" th:value="${item.id}">

    <div class="d-flex">
        <div class="repImgDiv">
            <!-- 대표 이미지 표시 -->
            <img th:src="${item.itemImgDtoList[0].imgUrl}" class = "rounded repImg" th:alt="${item.itemNm}">
        </div>
        <div class="wd50">
            <!-- 판매 상태 표시 -->
            <span th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15">
                판매중
            </span>
            <span th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15" >
                품절
            </span>
            <!-- 아이템 이름 표시 -->
            <div class="h4" th:text="${item.itemNm}"></div>
            <hr class="my-4">

            <div class="text-right">
                <div class="h4 text-danger text-left">
                    <!-- 가격 숨김 필드로 저장 -->
                    <input type="hidden" th:value="${item.price}" id="price" name="price">
                    <!-- 가격 표시 -->
                    <span th:text="${item.price}"></span>원
                </div>
                <!-- 수량 선택 입력 필드 -->
                <div class="input-group w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text">수량</span>
                    </div>
                    <label for="count"></label><input type="number" name="count" id="count" class="form-control" value="1" min="1">
                </div>
            </div>
            <hr class="my-4">

            <div class="text-right mgt-50">
                <!-- 결제 금액 표시 -->
                <h5>결제 금액</h5>
                <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
            </div>
            <!-- 판매 중일 때 버튼 표시 -->
            <div th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="text-right">
                <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
                <!--주문버튼 클리시 order() 함수 호출 -->
                <button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
            </div>
            <!-- 품절일 때 버튼 표시 -->
            <div th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="text-right">
                <button type="button" class="btn btn-danger btn-lg">품절</button>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid mgt-30">
        <div class="container">
            <!-- 상품 상세 설명 표시 -->
            <h4 class="display-5">상품 상세 설명</h4>
            <hr class="my-4">
            <p class="lead" th:text="${item.itemDetail}"></p>
        </div>
    </div>

    <!-- 추가 이미지들 표시 -->
    <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
        <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800" alt="${itemImg.oriImgName}">
    </div>

</div>

</html>