<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}" lang="kor">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">

    $(document).ready(function(){
      $("#searchBtn").on("click",function(e) {
        e.preventDefault(); // 검색 버튼 클릭시 form 태그의 전송 막음(다른페이지이동 X)
        page(0);  // 검색 버튼을 클릭할 페이지 번호로 0번째 페이지를 조회 하는 page함수를 호출
      });
    });

    // page 함수는 이동할 페이지 값을 받아서 현재 조건으로 설정된 상품 등록 기간, 판매 상태, 조회 유형
    // 검색어를 파라미터로 설정 후 상펨 데이터를 조회한다.
    function page(page){
      const searchDateType = $("#searchDateType").val();
      const searchSellStatus = $("#searchSellStatus").val();
      const searchBy = $("#searchBy").val();
      const searchQuery = $("#searchQuery").val();

      location.href="/admin/items/" + page + "?searchDateType=" + searchDateType
              + "&searchSellStatus=" + searchSellStatus
              + "&searchBy=" + searchBy
              + "&searchQuery=" + searchQuery;
    }

  </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    select{
      margin-right:10px;
    }
  </style>
</th:block>

<div layout:fragment="content">
  <!-- 검색 폼 -->
  <form th:action="@{'/admin/items/' + ${items.number}}" role="form" method="get" th:object="${items}">
    <!--Table 영역에 조회한 상품 그리기-->
    <table class="table">
      <thead>
      <tr>
        <td>상품 아이디</td>
        <td>상품명</td>
        <td>상태</td>
        <td>등록자</td>
        <td>등록일</td>
      </tr>
      </thead>
      <tbody>

      <!-- items.getContent()를 호출 하면 조회한 상품 데이터 리스트 를 얻어 온다.
        해당 리스트 를 th:each 를 통해서 반복적 으로 테이블 의 row 를 그려 준다.-->
      <tr th:each="item, status: ${items.getContent()}">
        <td th:text="${item.id}"></td>
        <td>
          <!-- 아이템 상세 페이지로 이동 하는 링크 -->
          <a th:href="'/admin/item/'+${item.id}" th:text="${item.itemNm}"></a>
        </td>
        <!-- 상품 상태 -->
        <!--현재 상품의 판매 상태가 SELL 이면 판매중 이고 아니면 품절로 보여 준다. -->
        <td th:text="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL} ? '판매중' : '품절'"></td>
        <td th:text="${item.createdBy}"></td>
        <td th:text="${item.regTime}"></td>
      </tr>
      </tbody>
    </table>

    <!-- 페이지 번호 -->
    <!-- 하단의 페이지 번호를 보여 주는 영역 -->
    <!--1  th:with 는 변수 값을 정의할 때 사용, 페이지 의 시작 번호와 페이지 끝 페이지 번호를 구해서 저장 한다.-->
    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
      <ul class="pagination justify-content-center">

        <!-- 이전 페이지 버튼 -->
        <!--2 - 첫번째 페이지 면 이젠 페이지로 이동 하는 Previous 버튼을 선택 불가능 하도록 disabled 클래스 를 추가 한다.-->
        <li class="page-item" th:classappend="${items.first}?'disabled'">

          <!--3 Previous 버튼 클릭 시 현재 페이지 에서 이전 페이지로 이동 하는 page 함수를 호출 한다.-->
          <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link">
            <span aria-hidden='true'>Previous</span>
          </a>
        </li>

        <!-- 페이지 번호 -->
        <!--4 현재 페이지 이면 active 클래스 를 추가 한다. -->
        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page - 1}?'active':''">

          <!--5 페이지 번호 클릭시 해당 페이지로 이동 하도록 page 함수를 호출 한다.-->
          <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
        </li>

        <!-- 다음 페이지 버튼 -->
        <!--6 마지막 페이지 일 경우 다음 페이지로 이동 하는 Next 버튼을 선택 불가능 하도록 disabled 클래스 를 추가 한다.-->
        <li class="page-item" th:classappend="${items.last}?'disabled'">
          <!--7 Next 버튼 클릭시 현재 페이지 에서 다음 페이지로 이동 하도록 page 함수를 호출 한다.-->
          <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link">
            <span aria-hidden='true'>Next</span>
          </a>
        </li>

      </ul>
    </div>
    <!-- 검색 폼 -->
    <!-- 검색어 입력을 위한 폼 -->
    <div class="form-inline justify-content-center" th:object="${itemSearchDto}">
      <!-- 등록 기간 선택 박스 -->
      <label>
        <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
          <option value="all">전체 기간</option>
          <option value="1d">1일</option>
          <option value="1w">1주</option>
          <option value="1m">1개월</option>
          <option value="6m">6개월</option>
        </select>
      </label>
      <!-- 판매 상태 선택 박스 -->
      <label>
        <select th:field="*{searchSellStatus}" class="form-control" style="width:auto;">
          <option value="">판매 상태(전체)</option>
          <option value="SELL">판매</option>
          <option value="SOLD_OUT">품절</option>
        </select>
      </label>
      <!-- 검색 조건 선택 셀렉트 박스 -->
      <label>
        <select th:field="*{searchBy}" class="form-control" style="width:auto;">
          <option value="itemNm">상품명</option>
          <option value="createdBy">등록자</option>
        </select>
      </label>
      <!-- 검색어 입력 필드 -->
      <label>
        <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어 를 입력해주세요">
      </label>
      <!-- 검색 버튼 -->
      <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
    </div>
  </form>

</div>

</html>